.shop-container{
     max-width: 1280px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 4fr 1fr;
     justify-items: center;
}
.products-container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 45px;
     padding: 0 45px;
     

    
}
.btn-proceed{
     width: 90%;
     background-color: #FF9900;
     margin: 10px auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
}


