.cart{
     background: rgba(255, 153, 0, 0.3);
     padding: 0 10px 0 10px ;
     position: sticky;
     width: 100%;
     top: 0;
}
.order{
     text-align: center;
}
.btn-clear{
     width: 90%;
     margin: 0 auto;
     background-color: #FF3030;
     display:flex;
     justify-content: space-between;
}
