.cart{
     background: rgba(255, 153, 0, 0.3);
     padding-left: 10px;
     position: sticky;
     top: 0;
}
.order{
     text-align: center;
}
.btn-clear{
     width: 100%;
     background-color: #FF3030;
}